#local_directories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid green;
    padding: 5px;
}

.directory_line {
    display: flex;
    flex-direction: row;
    width: 768px;
    padding: 5px;
}

.directory_title {
    width: 150px;
}
