body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#topMenu {
    background-color: #333;
    color: #fff;
    font-size: 3rem;
    height: 100px;
    padding-left: 230px;
    align-items: center;
    justify-content: left;
    z-index: 100;
    /* border: 1px solid green; */
    display: flex;
}

#topMenu2 {
    background-color: #999;
    color: #fff;
    font-size: 1rem;
    height: 50px;
    padding-left: 230px;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid green; */
    display: flex;
}

#smoothieLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
}

#copyright_label {
    padding: 10px;
    background-color: #999;
    font-size: 0.8rem;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
}

.version_number {

    font-size: 0.5rem;

}



.smoothieButtonClass {
    font-size:15px;
    font-family:Arial;
    width:120px;
    height:30px;
    border-width:1px;
    color:#333333;
    border-color:#ffaa22;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    text-shadow: 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, rgba(126, 211, 33, 1));
  }
  
  .smoothieButtonClass:hover {
    background: linear-gradient(rgba(126, 211, 33, 1), #ffec64);
  }

  .errorLabel {
    color: #fff;
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
  }
              
  